@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
/* CSS for Admin Page */

.FullWidthTable{
    width: 100%;
    font-size: 0.5rem;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.AddAdminButton{
    background-color: blue;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.AddAdminButton:hover{
    background-color: darkblue;
}
.AddCategoryButton{
    background-color: green;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.AddCategoryButton:hover{
    background-color: darkgreen;
}
/* Message display in color for the DeleteAdminPage.php page */
.success{
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.failure{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

}
input[type = radio] {
    margin: 2% 5%;
    box-sizing: border-box;
}
.UpdateAdminButton{
    background-color: green;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}
.UpdateAdminButton:hover{
    background-color: darkgreen;
}

.DeleteAdminButton{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.DeleteAdminButton:hover{
    background-color: darkred;
}