@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
/* CSS for Admin Page */

.FullWidthTable{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.AddAdminButton{
    background-color: blue;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.AddAdminButton:hover{
    background-color: darkblue;
}
.UpdateAdminButton{
    background-color: green;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.UpdateAdminButton:hover{
    background-color: darkgreen;
}

.DeleteAdminButton{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.DeleteAdminButton:hover{
    background-color: darkred;
}
/* CSS For AddAdmin */
.AddAdminTable{
    width: 30%;
    margin: auto 2%;
    font-size: 1rem;
    font-family: 'Merriweather', serif;   
}
.AddAdminTable tr{
    margin: 10% 0;
}
.AddAdminTableButton{
    background-color: green;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.AddAdminTableButton:hover{
    background-color: darkgreen;
}
input[type = text] {
    width: 100%;
    padding: 2% 1%;
    margin: 2% 0;
    box-sizing: border-box;
}
input[type = password] {
    width: 100%;
    padding: 2% 1%;
    margin: 2% 0;
    box-sizing: border-box;
}

/* Message display in color for the DeleteAdminPage.php page */
.success{
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.failure{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

}

/* Update Admin */
.UpdateAdminTable{
    width: 30%;
    margin: auto 2%;
    font-size: 1rem;
    font-family: 'Merriweather', serif;   
}

.UpdateAdminTableButton{
    background-color: green;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.UpdateAdminTableButton:hover{
    background-color: darkgreen;
}
.UpdateAdminTable tr{
    margin: 10% 0;
}
input[type = text] {
    width: 100%;
    padding: 2% 1%;
    margin: 2% 0;
    box-sizing: border-box;
}

/* Change Password Button */
.ChangePasswordButton{
    background-color:chocolate;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.ChangePasswordButton:hover{
    background-color:brown;
}

/* Change Password */
.UpdatePassword{
    width: 30%;
    margin: auto 2%;
    font-size: 1rem;
    font-family: 'Merriweather', serif;   
}

.UpdatePasswordButton{
    background-color: green;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.UpdatePasswordButton:hover{
    background-color: darkgreen;
}
.UpdatePassword tr{
    margin: 10% 0;
}
input[type = password] {
    width: 150%;
    padding: 2% 1%;
    margin: 2% 0;
    box-sizing: border-box;
}
/* CSS for Login */
.Login{
    border: 1px solid black;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
    text-align:center;
}
.TextCenter{
    text-align: center;
}
.LoginButton{
    background-color: green;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.LoginButton:hover{
    background-color: darkgreen;
}
input[type = password] {
    width: 100%;
    padding: 2% 1%;
    margin: 2% 0;
    box-sizing: border-box;
}
.Login{
    background-color: rgb(252, 238, 116);
}
